  .sidebar{
    position: relative;
    display: flex;
    margin: 2rem;
  }
  
  .menu-container {
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 30%;
  }
  
  .menu-trigger {
    background: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 4px 6px;
    border: none;
    vertical-align: middle;
    transition: box-shadow 0.4s ease;
  }
  
  .menu-trigger:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  }
  
  .menu-trigger span {
    font-weight: 700;
    vertical-align: middle;
    font-size: 14px;
    margin: 0 10px;
  }

  .menu-trigger .angle-down{
    font-size:2rem;
    margin-left: 8rem;
  }
  
  .menu {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  }
  
  .menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu ul li {
    position: relative;

  }
  
  .menu ul li a {
    text-decoration: none;
    color: #333333;
    padding: 15px 20px;
    display: block;
  }
  .menu ul li a:hover {
    color: #dfee0a;
  }

  .right-side{
    width: 70%;
    background-color: #D3D3D3;
    margin:0 1.5rem;
    height: 20rem;
  }

  .right-side h1{
    font-size: 5rem;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
  }

  @media (max-width: 800px) {
    .sidebar{
      display: block;
    }
    .menu {
      width: 50%;
    }
    .menu-container {
      margin-left: 1rem;
      width: 100%;
    }
    .menu-trigger .angle-down{
      visibility: hidden;
      margin-left: 0rem;
    }
    .right-side{
      width: 100%;
      margin: 0;
    }
    .right-side h1{
      font-size: 2.5rem;
    }
}

@media (max-width: 950px) {
  .menu-trigger .angle-down{
    visibility: hidden;
    margin-left: 0rem;
  }
  .right-side{
    width: 100%;
    margin: 0;
  }
  .right-side h1{
    font-size: 2rem;
  }
}